*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(/images/music-banner.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.hero h1,p{
    color: white;
}
.hero-title{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-link{
    color: #E8C887 !important;
    font-size: 25px;
}
.nav-link:hover{
    color: #C4842A !important;
}

/* footer */

.footer1{
    width: 100%;
    height: 80vh;
    background-color: #9b6b5c;
}

.foot1{
    color: #ffffff;
    padding-top: 90px;
}



*{
    scroll-behavior: smooth;
}


/* footer ends */